@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.slick-track div:focus {
  outline: none !important;
}

.slick-slide > div {
  margin: 0 20px;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 50px;
  color: red;
}

.slick-prev {
  left: 55px;
  z-index: 9999;
  top: 33%;
}

.slick-next {
  right: 55px;
  z-index: 9999;
  top: 33%;
}
